@import "design/colors.scss"; //this shouldn't happen, but vite additionalData might not be working?

:root {
  --primary: #{$primary};
  --near-black: #{$near-black};
  --near-white: #{$near-white};
  --side-padding: clamp(1rem, 4.2vw, 2rem);
  --font-max: 1.2rem;
  --font-min: 1rem;
  --font-scaler: 2.4vw;
  --font-family: 'Noto Sans', sans-serif;
  --font-weight: 300;
  --focus-offset: 5px;
  --focus-outline-color: var(--primary);
  --focus-color: var(--primary);

  //need font family
  //focus things
  @each $weight, $color in $grey {
    --dark-#{ $weight }: #{$color};
  }

  --site-color: #{$near-white};
  --site-background: #18181b;
  --border: 1px solid var(--dark-800);
  --border-radius: 0.5rem;



  --dropdown-border: var(--border);
  --dropdown-background: var(--site-background);
  --dropdown-color: var(--dark-200);
  --dropdown-border-radius: 0.2rem;
  --trigger-font-weight: 500;
  --trigger-hover-color: var(--dark-200);
  --scrollbar-color: var(--dark-600);
  --option-color: var(--dark-200);
  --option-selected-background: var(--primary);
  --option-hover-background: var(--dark-800);
  --option-size: 0.9em;
  --dropdown-gradient: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(24, 24, 27, 1) 100%);
  --autocomplete-background: var(--site-background);
  --autocomplete-border: var(--border);
  --autocomplete-border-radius: 0.2rem;
  --autocomplete-color: var(--dark-200);
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0.875em;
}

.default-label {
  --label-size: 0.875em;
  font-size: var(--label-size, 0.825em); 
  margin-bottom: 0.5em;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.2em;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 0.25em;
}