@import "design/colors.scss"; //this shouldn't happen, but vite additionalData might not be working?

:root {
  --primary: #{$primary};
  --near-black: #{$near-black};
  --near-white: #{$near-white};
  --side-padding: clamp(1rem, 4.2vw, 2rem);
  --font-max: 1.2rem;
  --font-min: 1rem;
  --font-scaler: 2.4vw;
  --font-family: 'Noto Sans', sans-serif;
  --font-weight: 300;
  --focus-offset: 5px;
  --focus-outline-color: var(--primary);
  //--focus-color: var(--primary);

  //need font family
  //focus things
  @each $weight, $color in $grey {
    --dark-#{ $weight }: #{$color};
  }

  --site-color: #{$near-white};
  --site-background: #18181b;
  --border: 1px solid var(--dark-800);
  --border-radius: 0.5rem;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0.875em;
}

.default-label {
  --label-size: 0.875em;
  font-size: var(--label-size, 0.825em); 
  margin-bottom: 0.5em;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.2em;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 0.25em;
}