$small-viewport: rem(320);
$medium-small-viewport: 30rem;
$medium-viewport: 40rem;
$medium-large-viewport: 50rem;
$large-viewport: 60rem;
$extra-large-viewport: rem(1280);
$page-inner-wrap: rem(1920);