:root {
  // @each $name, $size in $center-margin-wraps {
  //   --#{ $name }-viewport: #{$size};
  // }
  --focus-weight: 2px;
  --focus-offset: calc(0.5 * var(--focus-weight));
}

html, body, #__nuxt, #__layout, .content-wrap {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(var(--font-min, 1rem), var(--font-scaler, 2.4vw), var(--font-max, 1.2rem));
  background-color: var(--site-background);
  color: var(--site-color);
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  overflow-x: hidden;
  width: 100%;
}

body *:focus-visible {
  outline: -webkit-focus-ring-color none 0;
  outline: var(--focus-weight) solid var(--focus-outline-color);
  outline-offset: var(--focus-offset);
  color: var(--focus-color) !important;
}

//.page-wrap
#__nuxt {
  position: relative;
  overflow: hidden;
  min-width: $small-viewport;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#main {
  flex: 1 0 auto;
  position: relative;
}

[class*="-center-margin-wrap"] {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: var(--wrap-size);
  width: 100%;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.svg-defs {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  position: relative;
}

$center-margin-wraps: (medium, $medium-viewport), (medium-large, $medium-large-viewport), (large, $large-viewport), (extra-large, $extra-large-viewport);

@each $name, $size in $center-margin-wraps {
  .#{ $name }-center-margin-wrap {
    --wrap-size: #{$size};
  }
}